    <h1 class="centered">STAYCURIOS NUSANTARA</h1>
    <h2 class="centered">WE HIRING INTERSHIP FRONT END ENGINEERING</h2>
    <br />
    
    <h3>Requirements:</h3>
    
    <p>Familiar with Next.js and React.js</p>
    <p>Program :<b style="color:red">unpaid</b></p>
    <p><b>Benefit :</b> <i style="color:blue">Collaborration github to your portofolio</i> </p>
    <p > <u>We have 3 project</u></p>
    <ul><p>Task: </p> 
        <li >Login email: vikojoan39@gmail.com , Pass:12345678 </li> 
        <li >Web Static</li> 
        <li >Create UI/UX this web every page </li> 
    </ul>
    <p class="centered">Send your CV to <b style="color:rgb(4, 6, 119)">vikojoan39@gmail.com</b></p>